@font-face {
    font-family: "le";
    src: url("assets/le.ttf") format("truetype");
}

/* VIDEO DE FONDO */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(45%);
}

/* BODY */
body.pregunta {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
}

/* CONTENEDOR */
.contenedor-pregunta {
    text-align: center;
    padding: 10px 40px;
}

/* PREGUNTA */
.pregunta-texto {
    font-family: "le", sans-serif;
    font-size: 3.5rem;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 1;
    margin: 0;
    
    color: #fcff57;
    text-shadow: 0 0 10px rgba(247, 14, 220, 0.715);
    animation: respira 4s ease-in-out infinite;
}

/* Pequeña animación tipo respiración */
@keyframes respira {
    0%, 100% { transform: scale(1);}
    50% { transform: scale(1.03);}
}

/* SUBTÍTULO */
.pregunta-sub {
    font-family: "le", sans-serif;
    font-size: 2.5rem;
    opacity: 0.8;
    margin-bottom: 25px;
    color: rgb(156, 225, 255);
    text-shadow: 0 0 10px rgba(247, 14, 220, 0.715);
    line-height: 2;
}

/* recomendaciones */
.rec {
    font-family: "le", sans-serif;
    font-size: 1.5rem;
    opacity: 0.8;
    margin-bottom: 25px;
    color: rgb(189, 255, 156);
    text-shadow: 0 0 10px rgba(247, 14, 220, 0.715);
    line-height: 2;
}


/* BOTÓN */
#continuar {
    background: rgba(220, 68, 161, 0.2);
    border: 2px solid white;
    border-radius: 30px;
    padding: 14px 35px;
    font-family: "le", sans-serif;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(4px);
}

#continuar:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: scale(1.1);
}
